<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <a href="#"><img src="images/logo.png" alt="" /></a>
      </div>
      <div class="footer__menu">
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#">О комплексе</a></li>
          <li class="footer__list-item"><a href="#">Район</a></li>
          <li class="footer__list-item"><a href="#">Каталог квартир</a></li>
          <li class="footer__list-item"><a href="#">Ипотека</a></li>
          <li class="footer__list-item"><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__menu">
        <ul class="footer__list">
          <li class="footer__list-item"><a href="#">О комплексе</a></li>
          <li class="footer__list-item"><a href="#">Район</a></li>
          <li class="footer__list-item"><a href="#">Каталог квартир</a></li>
          <li class="footer__list-item"><a href="#">Ипотека</a></li>
          <li class="footer__list-item"><a href="#">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__contact">
        <div class="footer__contact-list">Адрес: Наб. реки Фонтанки 10-15</div>
        <div class="footer__contact-list">
          Телефон: <a href="tel:88121234567">8 (812) 123-45-67</a>
        </div>
        <div class="footer__contact-list">Отдел продаж: 10:00 - 20:00</div>
        <div class="footer__contact-list">
          E-mail:<a class="footer__mail" href="mailto:vip@housevip.ru"
            > vip@housevip.ru</a
          >
        </div>
        <div class="footer__social">
          <a class="footer__social-link" href="#">
            <svg class="youtube">
              <use xlink:href="#youtube"></use>
            </svg>
          </a>
          <a class="footer__social-link" href="#">
            <svg class="vk">
              <use xlink:href="#vk"></use>
            </svg>
          </a>
          <a class="footer__social-link" href="#">
            <svg class="fb">
              <use xlink:href="#fb"></use>
            </svg>
          </a>
          <a class="footer__social-link" href="#">
            <svg class="instagram">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
